<!DOCTYPE html>
  <html>
    <head>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
        <script src="//cdnjs.cloudflare.com/ajax/libs/d3/4.12.2/d3.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/ng-knob/0.1.3/ng-knob.js"></script>
    </head>
  
  <body>
    <center>
        
      <u><h1 id='server-time'></h1></u>
      <u><h1 id='server-ip'></h1></u>
      <script>
      
      var HOST = "wss://binaryhaven.herokuapp.com";
      var ws = new WebSocket(HOST);
      var el = document.getElementById('server-time');
      
      document.getElementById('server-ip').innerHTML = location.origin;

      ws.onmessage = function (event) {
        el.innerHTML = 'Server time: ' + event.data;
      };
          </script>
      

  <p>Enter your name below: </p>
  
  <div ng-app="myApp" ng-controller="myCtrl">

    <br>
    <div class="panel-body text-center">
        asdfasdfasdf<br>
        <ui-knob value="value" options="options"></ui-knob>
    </div>
    <br>
  
  First Name: <input type="text" ng-model="firstName"><br>
  Last Name: <input type="text" ng-model="lastName"><br>
  <br>
  Full Name: {{firstName + " " + lastName}}
  
  </div>
  
  <script>
    var app = angular.module('myApp', ['ui.knob']);
    app.controller('myCtrl', function($scope) {
      
      $scope.firstName= "John";
      $scope.lastName= "Doe";

      $scope.value = 10;
      $scope.profittarget = 0;
      $scope.options = {
        unit: "%",
        readOnly: true,
        subText: {
          enabled: true,
          text: 'Profit',
          color: 'gray',
          font: 'auto'
        },
        trackWidth: 30,
        barWidth: 15,
        trackColor: '#C7DDF7',
        barColor: 'lime'
      };
    
    });
  </script>
  </center>
  </body>
  </html>