#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #26262c;
  z-index: 1999;
  width: 100vw;
  height: 100vh;
}
.symbol {
  width: 150px;
  height: 150px;
  position: absolute;
  top: -75px;
  margin: 0 auto;
  right: -100%;
  left: -100%;
  z-index: 1;
  animation: 1.5s flyings 0.1s forwards infinite;
}
.wrapper {
  height: 50vh;
  position: relative;
  top: 50%;
}
.wrapper > div {
  animation: 0.8s rotate linear forwards infinite;
}
.wrapper > div > div {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  position: absolute;
  top: -52px;
  right: -100%;
  left: -100%;
  margin: 0 auto;
  mix-blend-mode: screen;
  transform-origin: center center;
  border-width: 2px;
  border-style: solid;
}
.wrapper > div > div:nth-child(1) {
  transform: rotate(60deg) scale(1) translateY(0rem);
  border-color: #db495b;
  animation: 1.5s flying1 0s forwards infinite;
}
.wrapper > div > div:nth-child(2) {
  transform: rotate(120deg) scale(1) translateY(0rem);
  border-color: #db495b;
  animation: 1.5s flying2 0.1s forwards infinite;
}
.wrapper > div > div:nth-child(3) {
  transform: rotate(180deg) scale(1) translateY(0rem);
  border-color: #db495b;
  animation: 1.5s flying3 0.2s forwards infinite;
}
.wrapper > div > div:nth-child(4) {
  transform: rotate(240deg) scale(1) translateY(0rem);
  border-color: #db495b;
  animation: 1.5s flying4 0.3s forwards infinite;
}
.wrapper > div > div:nth-child(5) {
  transform: rotate(300deg) scale(1) translateY(0rem);
  border-color: #db495b;
  animation: 1.5s flying5 0.4s forwards infinite;
}
.wrapper > div > div:nth-child(6) {
  transform: rotate(360deg) scale(1) translateY(0rem);
  border-color: #db495b;
  animation: 1.5s flying6 0.5s forwards infinite;
}
.wrapper > div > div:nth-child(1),
.wrapper > div > div :nth-child(2),
.wrapper > div > div :nth-child(3),
.wrapper > div > div :nth-child(4),
.wrapper > div > div :nth-child(5),
.wrapper > div > div :nth-child(6),
.wrapper > div > div :nth-child(7),
.wrapper > div > div :nth-child(8) {
  border-color: #db495b;
}
@-webkit-keyframes flying1 {
  0% {
    width: 100px;
    transform: rotate(60deg) scale(1) translateY(0rem);
    border-width: 2px;
  }
  25% {
    width: 120px;
    transform: rotate(60deg) scale(1.5) translateY(0.2rem);
    border-width: 5px;
  }
  50% {
    width: 100px;
    transform: rotate(60deg) scale(1) translateY(0rem);
    border-width: 2px;
  }
}
@keyframes flying1 {
  0% {
    width: 100px;
    transform: rotate(60deg) scale(1) translateY(0rem);
    border-width: 2px;
  }
  25% {
    width: 120px;
    transform: rotate(60deg) scale(1.5) translateY(0.2rem);
    border-width: 5px;
  }
  50% {
    width: 100px;
    transform: rotate(60deg) scale(1) translateY(0rem);
    border-width: 2px;
  }
}
@-webkit-keyframes flyings {
  0% {
    transform: scale(1) translateY(0rem);
  }
  10% {
    transform: scale(1.2) translateY(0rem);
  }
  20% {
    transform: scale(1) translateY(0rem);
  }
  30% {
    transform: scale(1.2) translateY(0rem);
  }
  40% {
    transform: scale(1) translateY(0rem);
  }
  1000% {
    transform: scale(1) translateY(0rem);
  }
}
@keyframes flyings {
  0% {
    transform: scale(1) translateY(0rem);
  }
  10% {
    transform: scale(1.2) translateY(0rem);
  }
  20% {
    transform: scale(1) translateY(0rem);
  }
  30% {
    transform: scale(1.2) translateY(0rem);
  }
  40% {
    transform: scale(1) translateY(0rem);
  }
  1000% {
    transform: scale(1) translateY(0rem);
  }
}
@-webkit-keyframes flying2 {
  0% {
    width: 100px;
    transform: rotate(120deg) scale(1) translateY(0rem);
    border-width: 2px;
  }
  25% {
    width: 120px;
    transform: rotate(120deg) scale(1.5) translateY(0.2rem);
    border-width: 5px;
  }
  50% {
    width: 100px;
    transform: rotate(120deg) scale(1) translateY(0rem);
    border-width: 2px;
  }
}
@keyframes flying2 {
  0% {
    width: 100px;
    transform: rotate(120deg) scale(1) translateY(0rem);
    border-width: 2px;
  }
  25% {
    width: 120px;
    transform: rotate(120deg) scale(1.5) translateY(0.2rem);
    border-width: 5px;
  }
  50% {
    width: 100px;
    transform: rotate(120deg) scale(1) translateY(0rem);
    border-width: 2px;
  }
}
@keyframes flyings {
  0% {
    transform: scale(1) translateY(0rem);
  }
  10% {
    transform: scale(1.2) translateY(0rem);
  }
  20% {
    transform: scale(1) translateY(0rem);
  }
  30% {
    transform: scale(1.2) translateY(0rem);
  }
  40% {
    transform: scale(1) translateY(0rem);
  }
  1000% {
    transform: scale(1) translateY(0rem);
  }
}
@-webkit-keyframes flying3 {
  0% {
    width: 100px;
    transform: rotate(180deg) scale(1) translateY(0rem);
    border-width: 2px;
  }
  25% {
    width: 120px;
    transform: rotate(180deg) scale(1.5) translateY(0.2rem);
    border-width: 5px;
  }
  50% {
    width: 100px;
    transform: rotate(180deg) scale(1) translateY(0rem);
    border-width: 2px;
  }
}
@keyframes flying3 {
  0% {
    width: 100px;
    transform: rotate(180deg) scale(1) translateY(0rem);
    border-width: 2px;
  }
  25% {
    width: 120px;
    transform: rotate(180deg) scale(1.5) translateY(0.2rem);
    border-width: 5px;
  }
  50% {
    width: 100px;
    transform: rotate(180deg) scale(1) translateY(0rem);
    border-width: 2px;
  }
}
@keyframes flyings {
  0% {
    transform: scale(1) translateY(0rem);
  }
  10% {
    transform: scale(1.2) translateY(0rem);
  }
  20% {
    transform: scale(1) translateY(0rem);
  }
  30% {
    transform: scale(1.2) translateY(0rem);
  }
  40% {
    transform: scale(1) translateY(0rem);
  }
  1000% {
    transform: scale(1) translateY(0rem);
  }
}
@-webkit-keyframes flying4 {
  0% {
    width: 100px;
    transform: rotate(240deg) scale(1) translateY(0rem);
    border-width: 2px;
  }
  25% {
    width: 120px;
    transform: rotate(240deg) scale(1.5) translateY(0.2rem);
    border-width: 5px;
  }
  50% {
    width: 100px;
    transform: rotate(240deg) scale(1) translateY(0rem);
    border-width: 2px;
  }
}
@keyframes flying4 {
  0% {
    width: 100px;
    transform: rotate(240deg) scale(1) translateY(0rem);
    border-width: 2px;
  }
  25% {
    width: 120px;
    transform: rotate(240deg) scale(1.5) translateY(0.2rem);
    border-width: 5px;
  }
  50% {
    width: 100px;
    transform: rotate(240deg) scale(1) translateY(0rem);
    border-width: 2px;
  }
}
@keyframes flyings {
  0% {
    transform: scale(1) translateY(0rem);
  }
  10% {
    transform: scale(1.2) translateY(0rem);
  }
  20% {
    transform: scale(1) translateY(0rem);
  }
  30% {
    transform: scale(1.2) translateY(0rem);
  }
  40% {
    transform: scale(1) translateY(0rem);
  }
  1000% {
    transform: scale(1) translateY(0rem);
  }
}
@-webkit-keyframes flying5 {
  0% {
    width: 100px;
    transform: rotate(300deg) scale(1) translateY(0rem);
    border-width: 2px;
  }
  25% {
    width: 120px;
    transform: rotate(300deg) scale(1.5) translateY(0.2rem);
    border-width: 5px;
  }
  50% {
    width: 100px;
    transform: rotate(300deg) scale(1) translateY(0rem);
    border-width: 2px;
  }
}
@keyframes flying5 {
  0% {
    width: 100px;
    transform: rotate(300deg) scale(1) translateY(0rem);
    border-width: 2px;
  }
  25% {
    width: 120px;
    transform: rotate(300deg) scale(1.5) translateY(0.2rem);
    border-width: 5px;
  }
  50% {
    width: 100px;
    transform: rotate(300deg) scale(1) translateY(0rem);
    border-width: 2px;
  }
}
@keyframes flyings {
  0% {
    transform: scale(1) translateY(0rem);
  }
  10% {
    transform: scale(1.2) translateY(0rem);
  }
  20% {
    transform: scale(1) translateY(0rem);
  }
  30% {
    transform: scale(1.2) translateY(0rem);
  }
  40% {
    transform: scale(1) translateY(0rem);
  }
  1000% {
    transform: scale(1) translateY(0rem);
  }
}
@-webkit-keyframes flying6 {
  0% {
    width: 100px;
    transform: rotate(360deg) scale(1) translateY(0rem);
    border-width: 2px;
  }
  25% {
    width: 120px;
    transform: rotate(360deg) scale(1.5) translateY(0.2rem);
    border-width: 5px;
  }
  50% {
    width: 100px;
    transform: rotate(360deg) scale(1) translateY(0rem);
    border-width: 2px;
  }
}
@keyframes flying6 {
  0% {
    width: 100px;
    transform: rotate(360deg) scale(1) translateY(0rem);
    border-width: 2px;
  }
  25% {
    width: 120px;
    transform: rotate(360deg) scale(1.5) translateY(0.2rem);
    border-width: 5px;
  }
  50% {
    width: 100px;
    transform: rotate(360deg) scale(1) translateY(0rem);
    border-width: 2px;
  }
}
@keyframes flyings {
  0% {
    transform: scale(1) translateY(0rem);
  }
  10% {
    transform: scale(1.2) translateY(0rem);
  }
  20% {
    transform: scale(1) translateY(0rem);
  }
  30% {
    transform: scale(1.2) translateY(0rem);
  }
  40% {
    transform: scale(1) translateY(0rem);
  }
  1000% {
    transform: scale(1) translateY(0rem);
  }
}
@-webkit-keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}
@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}
